<?xml version="1.0" ?>
<!--
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_WebApplicationFirewall
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
	<acl>
		<resources>
			<resource id="Magento_Backend::admin">
				<resource id="Magento_Backend::stores">
					<resource id="Magento_Backend::stores_settings">
						<resource id="Magento_Config::config">
							<resource id="Webkul_WebApplicationFirewall::config" title="Web Application Firewall"/>
						</resource>
					</resource>
				</resource>
				<resource id="Webkul_WebApplicationFirewall::waf_security" sortOrder="10" title="Web Application Firewall">
					<resource id="Webkul_WebApplicationFirewall::acl_login" title="Admin Login Success Logs" translate="title" sortOrder="10" />
					<resource id="Webkul_WebApplicationFirewall::acl_login_failed" title="Brute Force Login Attempts Log" translate="title" sortOrder="20" />
					<!-- <resource id="Webkul_WebApplicationFirewall::system_acl_directory" title="Scan Directories" translate="title" sortOrder="20" /> -->
					<resource id="Webkul_WebApplicationFirewall::permissionviewer" sortOrder="10" title="Complete Permissions View"/>
				</resource>
			</resource>
		</resources>
	</acl>
</config>
