<!--@subject {{trans "Password Reset Request From %store_name" store_name=$store.getFrontendName()}} @-->
{{template config_path="design/email/header_template"}}
<table>
    <tr class="email-summary">
        <td>
            <h3>{{trans "%name," name=$user.name}}</h3>
        </td>
    </tr>
    <tr class="email-information">
        <td>
            <p>
                {{trans "There was recently some security changes happens in store, please reset your password for login in account."}}
            </p>
            <p>
                {{trans "Reset your password: "}} <a href='{{store url="admin/auth/forgotpassword/"}}'>Click Here</a>
            </p>
        </td>
    </tr>
</table>
{{template config_path="design/email/footer_template"}}
