<?xml version="1.0"?>
<!-- /**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_MarketplaceProductLabels
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */ -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="webkul" translate="label" sortOrder="10">
            <label>Webkul</label>
        </tab>
        <section id="mpproductlabel" translate="label" type="text" sortOrder="300" showInDefault="1" showInWebsite="1" showInStore="0">
            <label>Product Label</label>
            <!-- Assign section to tab -->
            <tab>webkul</tab>
            <resource>Webkul_MarketplaceProductLabels::config_marketplaceproductlabels</resource>
            <!-- create group for fields in section -->
            <group id="general_settings" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Settings</label>
                <field id="label_manage" translate="label comment" sortOrder="2" type="select" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Allow Seller To Manage Product Label</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="label_approval" translate="label comment" sortOrder="3" type="select" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Label Approval Required</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="label_edit_approval" translate="label comment" sortOrder="4" type="select" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Label Edit Approval Required</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="allowed_image_extensions" translate="label comment" sortOrder="5" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Allowed Extensions For Image</label>
                    <comment>Enter File type separated by comma(,) like png,jpg</comment>
                </field>
                <field id="label_dimension_manage" translate="label comment" sortOrder="6" type="select" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Allow Seller To Manage Label Dimensions</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Allow sellers to set width and height for the label.</comment>
                </field>
                <field id="defaultWidth_productPage" translate="label comment" sortOrder="7" type="text" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Default Label Width For Product Page</label>
                    <validate>validate-digits required-entry validate-not-negative-number validate-digits-range digits-range-1-100</validate>
                    <comment>Should be integer value like 30, value calculated in percentage.</comment>
                </field>
                <field id="defaultHeight_productPage" translate="label comment" sortOrder="7" type="text" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Default Label Height For Product Page</label>
                    <validate>validate-digits required-entry validate-not-negative-number validate-digits-range digits-range-1-100</validate>
                    <comment>Should be integer value like 30, value calculated in percentage.</comment>
                </field>
                <field id="defaultWidth_categoryPage" translate="label comment" sortOrder="7" type="text" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Default Label Width For Category Page</label>
                    <validate>validate-digits required-entry validate-not-negative-number validate-digits-range digits-range-1-100</validate>
                    <comment>Should be integer value like 30, value calculated in percentage.</comment>
                </field>
                <field id="defaultHeight_categoryPage" translate="label comment" sortOrder="7" type="text" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Default Label Height For Category Page</label>
                    <validate>validate-digits required-entry validate-not-negative-number validate-digits-range digits-range-1-100</validate>
                    <comment>Should be integer value like 30, value calculated in percentage.</comment>
                </field>
            </group>
            <group id="email" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Product Label Transactional Emails</label>

                <field id="new_label_approve_request" translate="label comment" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Label Approval Request To Admin Template</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                </field>
                <field id="edit_label_approve_request" translate="label comment" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Label Edit Approval Request To Admin Template</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                </field>
                <field id="label_approve" translate="label comment" type="select" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Label Approval Mail To Seller Template</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                </field>
                <field id="label_disapprove" translate="label comment" type="select" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Label Disapproval Mail To Seller Template</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
