<?xml version="1.0"?>
<!-- /**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_AccordionFaq
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */ -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
	<acl>
		<resources>
			<resource id="Magento_Backend::admin">
				<resource id="Webkul_AccordionFaq::faq" title="Webkul Accordion FAQ" sortOrder="10">
					<resource id="Webkul_AccordionFaq::addfaq" title="Manage FAQ" sortOrder="1" />
					<resource id="Webkul_AccordionFaq::faqgroup" title="Manage FAQ Group" sortOrder="2" />
				</resource>
				 <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Webkul_AccordionFaq::config_accordionfaq" title="Webkul Accordion FAQ Setting" sortOrder="51" />
                        </resource>
                    </resource>
                </resource>
			</resource>
		</resources>
	</acl>
</config>