<?xml version="1.0"?>
<!--
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_CustomerSubaccount
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Webkul_CustomerSubaccount::manage" translate="title" title="Customer Sub Accounts" module="Webkul_CustomerSubaccount" sortOrder="10" resource="Webkul_CustomerSubaccount::manage" action="wkcs/subaccount/index"/>
    </menu>
</config>
